@import 'styles/utils.scss';

.message-box {
	background: $oc-yellow-0;
	margin-bottom: 5px;
	padding: 3px;
	$icon-size: 40px;
  
 	//border-radius: 5%;
	border-bottom: 1px solid $oc-gray-0;

	.other {

	}

  	&.me {
    	background-color: $oc-gray-3;
	}
	
	.row {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	
	.column {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.user {
		color: $oc-white;
		fone-size: 1.2rem;
	}
	
	.time {
		color: $oc-gray-5;
	}
	
	.message {
		color: $oc-white;
		fone-size: 1.5rem;
	}
	
	img {
		width: $icon-size;
		height: $icon-size;
		border-radius: 50%;
		margin-left: auto;
  		margin-right: auto;
		justify-content: left;
	}
}